*{
   margin: 0;
   padding: 0;
   font-family: Bubblegum Sans;
   font-size: 30px;
}

#calcContainer{
	width: 390px;
	margin: auto;
	background-color: #39383d;
	padding: 20px;
	border-radius: 10px;
}

.calculatorDisplay{
	width: 100%;
	margin-bottom: 10px;
	background-color: #a2af77;
	height: 64px;
	border: none;
	border-radius: 10px;
}
input[type=button]{
	height: 75px;
	width: 75px;
	border: none;
	color: #fff;
	background-color: #58595b;
	border-radius: 10px;
}
button
{
	height: 75px;
	width: 75px;
	border: none;
	color: #fff;
	background-color: #58595b;
	border-radius: 10px;	
}
